<% content_for :title, "Editing post" %>

<%= turbo_frame_tag "edit" do %>
  <h1>Edycja posta</h1>

  <%= render "form", post: @post %>
<% end %>
<br>

<div>
  <%= link_to "Pokaż tego posta", @post %> |
  <%= link_to "Powrót do postów", posts_path %>
</div>
