<% content_for :title, "Editing post" %>

<%= turbo_frame_tag "edit" do %>
  <h1>Edycja posta</h1>

  <%= render "form", post: @post %>
<% end %>
<br>

<div>
  <%= link_to "Pokaż ten post", @post %> |
  <%= link_to "Back to posts", posts_path %>
</div>
